/*
filename: styles2.css
author: Sophie Kroezen & Akhila Sripriyadarshini Gollamudi
created: 08/04/2025
last modified: 09/04/2025
description: refers to projectpart1-1, index.html and jobs.html
*/

/* Body Styles- has margins and padding */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-image: url('image/melb_city.png'); /* background image */
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed; /* keeps the background image fixed when scrolling */
    background-size: cover; /* covers the entire viewport of webpage */;
}

body {
   font-family: 'Paul Grotesk Soft', sans-serif;
   font-size: 16px;
   background-color: #F0F8FF; /* Alice Blue */
   line-height: 1.5;
}

a {
    text-decoration: none; /* removes underline from links */
    color: #333;   /* dark grey */
}

ul {
    list-style: none; /* removes bullets from list items */
}

img {
    max-width: 100%; /* makes images responsive when the website changes */
    height: auto; /* maintains aspect ratio of images */
}

/* Utility Class for Centering */
.container {
    max-width: 1100px; /* maximum width of the container */
    margin: 0 auto; /* centers the container horizontally */
    padding: 0 15px; /* adds padding inside the container */
}

/* Navigation Bar Styles */
.navbar {
    background: #fff; /* white background */
    padding: 20px;

}


/* Images/logos Styles */
.logos {
    display: flex;
    justify-content: center; /* horizontally centers the images */
    align-items: center; /* vertically centers the images */
  }
  
  .logos img {
    flex-basis: 50%; /* sets the width of the images */
    padding: 50px 50px;
  }

/* ROUGH WORK- NEEDS TO BE COMPLETED 
        Page Styles */
* {
    font-family: calibri, sans-serif;
    color: #2F4F4F;
}

/* Heading Styles */
h1 {
    color: black;
    font-size: 2em;
    font-weight: bold;
}

h2 {
    color: black (0, 128, 128);
    font-size: 1.5em;
    font-weight: bold;
}

h1, h2, h3 {
    font-family: Arial, sans-serif;
}

#headingsinfo {
    color: red;
}   

/* Navigation Bar */
nav a {
    text-decoration: none;
    padding: 0.2em 0.6em;
    border: 4px solid #ccc;
    border: 1px solid black;     
}

nav a:hover {
    background-color: lightblue;
}

#introduction {
    text-align: center;
}

#images {
    text-align : center;
    }

/* Footer Styles */
footer {
    background-color: #2F4F4F; /* dark slate gray */
    color: white; 
    padding: 20px; /* padding around the footer */
    text-align: center; /* centers the text in the footer */
    position: fixed; 
    bottom: 0; /* positions the footer at the bottom */
    width: 100%; /* makes the footer full width */
}

footer p {
    margin: 0; /* removes default margin from paragraph */
    font-size: 14px; /* sets font size for the footer text */
}
