/*
filename: styles2.css
author: Akhila Srirpriyadarshini Gollamudi
created: 08/04/2025
last modified: 09/04/2025
description: refers to projectpart1-1, index.html
*/

/* Body Styles- has margins and padding */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
   font-family: 'Paaul Grotesk Soft', sans-serif;
   font-size: 16px;
   background-color: #F0F8FF; /* Alice Blue */
   line-height: 1.5;
}

a {
    text-decoration: none; /* removes underline from links */
    color: #333;   /* dark grey */

}

ul {
    list-style: none; /* removes bullets from list items */
}

img {
    max-width: 100%; /* makes images responsive when the website changes */
    height: auto; /* maintains aspect ratio of images */
}

/* Utility Class for Centering */
.container {
    max-width: 1100px; /* maximum width of the container */
    margin: 0 auto; /* centers the container horizontally */
    padding: 0 15px; /* adds padding inside the container */
}














/* ROUGH WORK- NEEDS TO BE COMPLETED 
        Page Styles */
* {
    font-family: calibri, sans-serif;
    color: #2F4F4F;
}

/* Heading Styles */
h1 {
    color: purple;
    font-size: 2em;
    font-weight: bold;
}

h2 {
    color: rgb(0, 128, 128);
    font-size: 1.5em;
    font-weight: bold;
}

h1, h2, h3 {
    font-family: Arial, sans-serif;
}

#headingsinfo {
    color: red;
}   

/* Navigation Bar */
nav a {
    text-decoration: none;
    padding: 0.2em 0.6em;
    border: 4px solid #ccc;
    border: 1px solid black;     
}

nav a:hover {
    background-color: lightblue;
}

#introduction {
    text-align: center;
}

#images {
    text-align : center;  /* center has US spelling */
    }
    