/*
filename: styles.css
author: Sophie Kroezen & Akhila Sripriyadarshini Gollamudi
created: 04/04/2025
last modified 09/04/2025
description: style sheet for about.html and apply.html
*/

/*apply page styling */
* {
    font-family: 'Public Sans', sans-serif;
}

body {
    background-color: #f6f5f3;
    margin: 0;
    padding: 0px;
}

.form-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.5rem;
}

.form-grid fieldset {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

form > fieldset {
    margin-top: 2rem;
}

.home-details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    min-height: 150px;
}

#form {
    padding: 5px;
    margin: 5px;
}

input {
   border-radius: 7px; 
}

legend {
    text-align: center;
    font-weight: bold;
}

fieldset {
    border-radius: 7px;
    border: 2px solid #18435D;
}

.textarea-flex {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

@media (min-width: 768px) {
    .textarea-flex {
        flex-direction: row;
        gap: 1rem;
    }
    .textarea-flex p {
        flex: 1;
    }
    .textarea-flex textarea {
        width: 100%;
        height: 100%;
        box-sizing: border-box;
    }
}

nav {
    display: flex;
    justify-content: flex-end;
    gap: 15px;
    padding: 10px;
}

nav a {
    text-decoration: none;
    font-size: 16px;
    transition: 0.5s;
    color: #18435b;
    font-weight:600;
}

nav a:hover {
    color: #2677a8;
}

.logo {
    float: left;
}

header h1 {
    clear: both;
}

input[type="checkbox"] {
    appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 4px;
    border: 2px solid #18435D;
    position: relative;
    transition: background-color 0.5s ease;
    margin-right: 8px;
    vertical-align: middle;
}

input[type="checkbox"]:checked {
    background-color:#18435D;
    border-color: #0f2d3f;
}

input[type="radio"] {
    appearance: none;
    width: 15px;
    height: 15px;
    border: 2px solid #18435D;
    border-radius: 50%;
    position: relative;
    transition: background-color 0.5s ease;
    margin-right: 6px;
    vertical-align: middle;
}

input[type="radio"]:checked {
    background-color: #18435D;
    border-color:#0f2d3f;
}

/* The input type=submit and type=reset styling are placed separately as I wasn't able to get the styling to work when placed together. */

input[type="submit"] {
    transition: 0.5s;
}

input[type="submit"]:hover {
    color: #f6f5f3;
    background-color: #18435b;
}

input[type="reset"] {
    transition: 0.5s;
}

input[type="reset"]:hover {
    color: #f6f5f3;
    background-color: #18435b;
}


/* about page styling */

.akhila-table {
    border: 2px solid #18435D;
    border-collapse: collapse;
    margin: 0 auto;
}

.akhila-table th, .akhila-table td {
    border: 1px solid #18435D;
    padding: 5px;
}

.sophie-table {
    border: 2px solid #18435D;
    border-collapse: collapse;
    margin: 0 auto;
}

.sophie-table th, .sophie-table td {
    border: 1px solid #18435D;
    padding: 5px;
}

.akhila-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
}

.student-id {
    text-align: right;
}

.sophie-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
}

.akhila-favs {
    display: flex;
    justify-content: flex-start;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    width: 100vw;
    padding-bottom: 20px;
    gap: 0;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

.akhila-favs ol, .akhila-favs li, .akhila-favs ol em {
    color: #f6f5f3;
    background-color: transparent;
    width: 100%
}

.akhila-favs-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    width: 100vw;
    overflow: hidden;
}

.akhila-movies, .akhila-food, .akhila-travel {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    padding: 0 10px;
    scroll-snap-align: start;
    border: 2px solid #18435D;
    border-radius: 10px;
    color: #f6f5f3;
    box-sizing: border-box;
    flex: 0 0 100vw;
    background-color:#2677a8
}

.akhila-movies ol {
    margin-left: 70px;
    padding: 15px;
    width: auto;
    flex-shrink: 0;
    line-height: 1.6;
    font-size: 1.2rem;
    max-width: 60%;
}

.akhila-movies img {
    width: 30%;
    object-fit: cover;
    border-radius: 10px;
    height: auto;
    max-width: 40%;
}

.akhila-food ol {
    margin-left: 70px;
    padding: 15px;
    width: auto;
    flex-shrink: 0;
    line-height: 1.6;
    font-size: 1.2rem;
    max-width: 60%;
}

.akhila-food img {
    width: 30%;
    object-fit: cover;
    border-radius: 10px;
    height: auto;
    max-width: 40%;
}

.akhila-travel ol {
    margin-left: 70px;
    padding: 15px;
    width: auto;
    flex-shrink: 0;
    line-height: 1.6;
    font-size: 1.2rem;
    max-width: 60%;
}

.akhila-travel img {
    width: 30%;
    object-fit: cover;
    border-radius: 10px;
    height: auto;
    max-width: 40%;
}

.sophie-favs {
    display: flex;
    justify-content: flex-start;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    width: 100vw;
    padding-bottom: 20px;
    gap: 0;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

.sophie-favs ol, .sophie-favs li, .sophie-favs ol em {
    color: #f6f5f3;
    background-color: transparent;
    width: 100%
}

.sophie-favs-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    width: 100vw;
    overflow: hidden;
}

.sophie-movies, .sophie-games, .sophie-baking {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    padding: 0 10px;
    scroll-snap-align: start;
    border: 2px solid #18435D;
    border-radius: 10px;
    color: #f6f5f3;
    box-sizing: border-box;
    flex: 0 0 100vw;
    background-color:#2677a8
}

.sophie-movies ol {
    margin-left: 70px;
    padding: 15px;
    width: auto;
    flex-shrink: 0;
    line-height: 1.6;
    font-size: 1.2rem;
    max-width: 60%;
}

.sophie-movies img {
    width: 30%;
    object-fit: cover;
    border-radius: 10px;
    height: auto;
    max-width: 40%;
}

.sophie-games ol {
    margin-left: 70px;
    padding: 15px;
    width: auto;
    flex-shrink: 0;
    line-height: 1.6;
    font-size: 1.2rem;
    max-width: 60%;
}

.sophie-games img {
    width: 30%;
    object-fit: cover;
    border-radius: 10px;
    height: auto;
    max-width: 40%;
}

.sophie-baking ol {
    margin-left: 70px;
    padding: 15px;
    width: auto;
    flex-shrink: 0;
    line-height: 1.6;
    font-size: 1.2rem;
    max-width: 60%;
}

.sophie-baking img {
    width: 30%;
    object-fit: cover;
    border-radius: 10px;
    height: auto;
    max-width: 40%;
}

#group-photo {
    float: right;
    border: 2px solid #2677a8;
    height: 200px;
    width: 275px;
}

.about-nav {
    list-style: none;
}






/* Akhila's CSS merged into this file. Some minor changes were made on 14/04/2025 by Sophie to ensure no interference between files. */

.header-container {
    background-image: url('images/melb_city.png'); /* background image */
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed; /* keeps the background image fixed when scrolling */
    background-size: cover; /* covers the entire viewport of webpage */
    margin: 0;
    padding: 0;
    width: 100%;
    height: 150px;
}

a {
    text-decoration: none; /* removes underline from links */
}

ul {
    list-style: none; /* removes bullets from list items */
}

.icons {
    max-width: 100%; /* makes images responsive when the website changes */
    height: 25px;
    width: 35px
}

/* Utility Class for Centering */
.container {
    max-width: 1100px; /* maximum width of the container */
    margin: 0 auto; /* centers the container horizontally */
    padding: 0 15px; /* adds padding inside the container */
}

/* Images/logos Styles */
.logos {
    display: flex;
    justify-content: center; /* horizontally centers the images */
    align-items: center; /* vertically centers the images */
  }
  
.logos img {
    flex-basis: 50%; /* sets the width of the images */
    padding: 50px 50px;
  }

/* Heading Styles */
h1 {
    color: black;
    font-size: 2em;
    font-weight: bold;
    text-align: center; /* centers the heading */
    margin: 20px 0; /* adds margin around the heading */
}

h2 {
    color: black;
    font-size: 1.5em;
    font-weight: bold;
    text-align: left; /* heading is to the left */
} 

/* Textarea Styles */
.textarea-flex {
    display: flex; /* enables flexbox layout */
    flex-direction: column; /* arranges children in a column */
    gap: 10px; /* adds space between children */
    margin: 20px 0; /* adds margin around the textarea */
}

/* Footer Styles */
footer {
    background-color: #2F4F4F; /* dark slate gray */
    padding-top: 20px; /* padding around the footer */
    padding-bottom: 20px;
    text-align: center; /* centers the text in the footer */
    position: fixed;   /* fixes the footer at the bottom of the page */ 
    bottom: 0; /* positions the footer at the bottom */
    width: 100%; /* makes the footer full width */
    font-weight: bold;
    font-size: 16px; /* sets font size for the footer text */
    color: #f6f5f3; /* light gray */
    display: flex;
    justify-content: center;
    gap: 40px;
}

footer p {
    margin: 0; /* removes default margin from paragraph */
    font-size: 14px; /* sets font size for the footer text */
}

main {
    padding-bottom: 150px;
}

#introduction {
    text-align: center;
}

.footer-links {
    list-style-type: none;
    padding: 0;
    margin: 0;
    background-color: #18435D;
    display: flex;
}

.footer-links a {
    color:#f6f5f3;
    text-decoration: none;
}

.footer-links a:link,
.footer-links a:visited,
.footer-links a:hover,
.footer-links a:active {
    color: #f6f5f3;
    text-decoration: none;
}

footer a {
  color: #e5eff3 !important;
  text-decoration: none !important;
}

image logos-container{
    display: flex;
    justify-content: flex-start;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    width: 100vw;
    padding-bottom: 20px;
    gap: 0;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

.jobs-h1, .jobs-h2 {
    font-family: Arial, sans-serif;;
    font-size: 2em;
    font-weight: bold;
    text-align: center; /* centers the heading */
    margin: 20px 0; /* adds margin around the heading */
}

h3 {
    color: black;
    font-size: 1.5em;
    font-weight: bold;
    text-align: left; /* heading is to the left */
}

/* for the jobs.html page */
.job-listing {
    display: flex;
    flex-direction: column;
    gap: 10px; /* adds space between job listings */
    margin: 20px 0; 
    padding: 20px; 
    background-color: #fff; /* white background for job listing */
}
.job-listing h3 {
    color: #2F4F4F; /* dark slate gray */
    font-size: 1.5em; /* sets font size for job title */
    font-weight: bold; /* makes the job title bold */
    margin: 0; 
    line-height: 1.2; 
}
.job-listing p {
    color: #333; /* dark grey */
    font-size: 1em; 
    margin: 5px 0; /* adds margin around the job description */
    line-height: 1.5; 
    font-family: Arial, sans-serif; /* sets font family for job description */
}
.job-listing a {
    color: #2F4F4F; /* dark slate gray */
    text-decoration: none; /* removes underline from links */
    font-weight: bold; /* makes the link bold */
    margin-top: 5px; /* adds margin above the link */
    padding: 5px 10px; /* adds padding around the link */
}
.job-listing a:hover {
    text-decoration: underline; /* underlines the link on hover */
}

image dollar-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f6f5f3; /* light gray background */
    display: flex;
    justify-content: flex-start;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    padding-bottom: 20px;
    gap: 0;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}


/* PROJECT PART 2 STYLING */

.login-error {
    color: red;
    font-weight: bold;
}

.login-success {
    color: green;
    font-weight: bold;
}

.pagination {
    margin-top: auto;
    margin-bottom: 100px;
    padding: 20px;
    text-align: center;
    position: relative;
}

.pagination-link {
    padding: 8px 12px;
    text-decoration: none;
    color: #0f2d3f;
    border: 1px solid #2F4F4F;
    margin: 0 3px;
    border-radius: 4px;
}

.pagination-link:hover {
    color: #0f2d3f;
}

.manage-wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding-left: 0px;
    padding-top: 40px;
}

.page-wrapper > *:not(.pagination) {
    flex-grow: 1;
    padding-left: 0px;
}

.active-page {
    font-weight: bold;
    background-color:#2677a8
}

.search_form {
    margin-top: 20px;
    clear: both;
}

.search-table {
    width: auto;
    max-width: 1200px;
    border-collapse: collapse; 
    margin-top: 20px;
}

.search-table, 
.search-table th, 
.search-table td {
    border: 1px solid #0f2d3f;
}

.search-table th,
.search-table td {
    padding: 5px;
    text-align: left;
}

.search-table td {
    padding: 12px 15px;
}

.manage-buttons {
    transition: 0.5s;
}

.manage-buttons:hover {
    color: #f6f5f3;
    background-color: #18435b;
}

.reset {
    margin: 10px auto;
}

.reset .manage-buttons {
    padding-top: 10px;
    text-align: center;
    display: inline-block; 
    width: 150px;
    padding: 10px 0; 
}

.login-container {
    background-color: #d9dde8;
    padding: 30px 40px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    width: 100%;
    max-width: 400px;
}

.login-form {
    display: flex;
    flex-direction: column;
}

.login-form label {
    margin-top: 15px;
    margin-bottom: 5px;
    font-weight: bold;
}

.login-form input[type="text"],
.login-form input[type="password"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.login-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    padding: 0 20px;
    position: relative;
    top: -30px;
}

.login-form button[type="submit"] {
    margin-top: 20px;
    padding: 10px;
    background-color: #3584ac;
    color: white;
    border: none;
    border-radius: 5px;
    transition: 0.5s;
}

.login-form button[type="submit"]:hover {
    color: #f6f5f3;
    background-color: #18435b
}

.enhancements-container {
    padding: 10px;
}

.enhancements-container li {
    list-style: circle;
}